* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    color: #fff;
}

p {
    margin-top: 10px;
    color: #fff;
}

canvas {
    background: #000;
    border: 4px solid #fff;
}
